main, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#world {
  height: 100%;
  width: 100%;
  
  #worldMap {
    display: block;
    position: absolute;
  }
  
  #hero {
    position: absolute;
    margin-left: 256px;
    margin-top: 256px;
    z-index: 1;
  }
  
  .outerCombatBox {
    position: absolute;
    margin-left: 150px;
    margin-top: 150px;
    width: 600px;
    height: 600px;
    background-color: green;
    border: 1px black;
    z-index: 2;
  }
  .innerCombatBox {
    position: absolute;
    margin-left: 175px;
    margin-top: 175px;
    width: 550px;
    height: 550px;
    background-color: blue;
    border: 1px black;
    z-index: 3;
  }
}

